---
title: Use the Test API - Fraud prevention
weight: 40
description: Use the Test Fraud Prevention Headers API to check data submitted by your application meets the requirements and is formatted correctly.
---
<%= partial 'tracking-consent/partials/google_tag_manager_js' %>

# Use the Test API

Before you submit any headers, you need to use the Test Fraud Prevention Headers API.

It is important to check that data submitted by your application meets the requirements and is formatted correctly.

<div>
    <a class="govuk-link" href="/api-documentation/docs/api/service/txm-fph-validator-api">Go to the Test API</a>
</div>
