@import "govuk_tech_docs";

@import "govuk/components/button/button";
@import "govuk/components/details/details";
@import "govuk/components/warning-text/warning-text";

.font-large {
  font-size: 24px;
  line-height: 30px;
}

.code--slim-large {
  border: 1px solid #DFE0E7;
  border-radius: 4px;
  padding: 5px 5px 2px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #F7F7F7;
  line-height: 1.1em;
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  color: #0b0c0c;
  font-size: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code--slim {
  border: 1px solid #DFE0E7;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 16px;
  display: inline-block;
  background-color: #F7F7F7;
  line-height: 1.1em;
}

.tdq-button:link, .tdq-button:visited, .tdq-button:active, .tdq-button:hover {
  color: #ffffff !important;
}

pre > code {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}

ol.cmq-header-list--numbered {
  list-style: none;
  counter-reset: cmq-headers;
  padding-left: 0;
}

ol.cmq-header-list--numbered > li {
  counter-increment: cmq-headers;
}

ol.cmq-header-list--numbered > li::before {
  content: counter(cmq-headers) ". ";
  font-weight: 700;
  font-size: 1.5rem;
}

ol.cmq-header-list--numbered > li > h3 {
  display: inline-block;
  font-size: 1.5rem;
}

ol.cmq-header-list--numbered > li > h3 > a {
  margin-top: -1.3rem;
  margin-left: -1.3rem;
}

ol.cmq-header-list--numbered > li > p {
  margin-block-start: 0;
}

ol.cmq-header-list--numbered > li li {
  margin-bottom: 1rem;
}
