@import "govuk_tech_docs";

@import "govuk/components/button/button";
@import "govuk/components/details/details";
@import "govuk/components/warning-text/warning-text";

.font-large {
  font-size: 24px;
  line-height: 30px;
}

.code--slim-large {
  border: 1px solid #DFE0E7;
  border-radius: 4px;
  padding: 5px 5px 2px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #F7F7F7;
  line-height: 1.1em;
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  color: #0b0c0c;
  font-size: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code--slim {
  border: 1px solid #DFE0E7;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 16px;
  display: inline-block;
  background-color: #F7F7F7;
  line-height: 1.1em;
}

.tdq-button:link, .tdq-button:visited, .tdq-button:active, .tdq-button:hover {
  color: #ffffff !important;
}

pre > code {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}