---
title: What you need to send
weight: 20
description: You need to send header data to HMRC when you use our APIs. Check the fraud prevention specification and select your connection method to find out what data you need to send.
---
<%= partial 'tracking-consent/partials/google_tag_manager_js' %>

# What you need to send

The header data you need to send depends on your software architecture. We refer to your architecture as a connection method.

Your connection method depends on <a href="#connecting-to-hmrc" onclick="ga('send', 'event', 'On Page Navigation', 'What you need to send', 'How your application connects');">how your application connects</a> to HMRC and your <a href="#originating-device" onclick="ga('send', 'event', 'On Page Navigation', 'What you need to send', 'Originating device');">originating device</a>. You might have more than 1 connection method.

To find out what data you need to send, select the connection methods used by your application.

## Select your connection method

<a href="desktop-app-direct/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Desktop application direct');">Desktop application direct</a><br>
Your application is installed on a desktop connecting directly to HMRC. Desktops include computers and laptops.</p>

<a href="desktop-app-via-server/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Desktop application via server');">Desktop application via server</a><br>
Your application is installed on a desktop connecting to HMRC through intermediary servers. Desktops include computers and laptops.

<a href="web-app-via-server/"  onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Web application via server');">Web application via server</a><br>
Your application is web based, connecting to HMRC through intermediary servers.

<a href="mobile-app-direct/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Mobile application direct');">Mobile application direct</a><br>
Your application is installed on a mobile device connecting directly to HMRC. Mobile devices include phones and tablets.

<a href="mobile-app-via-server/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Mobile application via server');">Mobile application via server</a><br>
Your application is installed on a mobile device connecting to HMRC through intermediary servers. Mobile devices include phones and tablets.

<a href="batch-process-direct/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Batch process direct');">Batch process direct</a><br>
Only select this for requests when your users do not initiate an action and your application uses batch processes, connecting directly to HMRC.


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If your architecture is not listed
    </span>
  </summary>
  <div class="govuk-details__text">

    <p>You can select other direct or other via server. We may ask you for more details.</p>

  <p><a href="other-direct/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Other direct');">Other direct</a><br>
    Your application connects directly to HMRC but is not covered by the common architectures.</p>

    <p><a href="other-via-server/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Other via server');">Other via server</a><br>
    Your application connects to HMRC through intermediary servers but is not covered by the common architectures.</p>
  </div>
</details>


### Connecting to HMRC

If your application connects directly to HMRC, select a direct connection method.

If your application does not connect directly to HMRC, select a server connection method. Only consider intermediary servers that are part of your application domain and are in your control. Do not include third-party servers such as transport layers or internet providers.

Where multiple services manage your intermediary servers, headers must contain data from all services.

### Originating device

Originating device means the device that initiates an action, for example a VAT return. In most connection methods, it is usually the physical device a person uses to initiate a request.

In desktop application direct, or desktop application via server, the originating device might be a hosted desktop environment accessed remotely by the user.

If actions initiated by users are stored on a server and sent in batches, the originating device is the user's device and not the server. You must only select batch process direct as a connection method when your users do not initiate an action.
