---
title: What you need to send
weight: 20
description: Page description for search engines
---

# What you need to send

The header data you need to send depends on your software architecture. We refer to your architecture as a connection method.

To find out what data you need to send, you must select your connection method. This depends on <a href="/connection-method/#direct-or-via-intermediary-servers">how your application connects</a> to HMRC and your <a href="/connection-method/#what-is-your-originating-device">originating device</a>.

## Select your connection method

<a href="/connection-method/desktop-app-direct">Desktop application direct</a><br>
Your application is installed on a desktop connecting directly to HMRC. Desktops include computers and laptops.</p>

<a href="/connection-method/desktop-app-via-server">Desktop application via server</a><br>
Your application is installed on a desktop connecting to HMRC through intermediary servers. Desktops include computers and laptops.

<a href="/connection-method/mobile-app-direct">Mobile application direct</a><br>
Your application is installed on a mobile device connecting directly to HMRC. Mobile devices include phones and tablets.

<a href="/connection-method/mobile-app-via-server">Mobile application via server</a><br>
Your application is installed on a mobile device connecting to HMRC through intermediary servers. Mobile devices include phones and tablets.

<a href="/connection-method/web-app-via-server">Web application via server</a><br>
Your application is web based, connecting to HMRC through intermediary servers.

<a href="/connection-method/batch-process-direct">Batch process direct</a><br>
Your application uses batch processes, connecting directly to HMRC.


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If your architecture is not listed
    </span>
  </summary>
  <div class="govuk-details__text">

    <p>You can select other direct or other via server. We may ask you for more details.</p>

  <p><a href="">Other direct</a><br>
    Your application connects directly to HMRC but is not covered by the common architectures.</p>

    <p><a href="">Other via server</a><br>
    Your application connects to HMRC through intermediary servers but is not covered by the common architectures.</p>
  </div>
</details>



### Direct or via intermediary servers

Your application connects directly to HMRC or via intermediary servers. Select a direct connection method if your application connects directly to HMRC.

If your application does not connect directly to HMRC, you need to select a server connection method. This refers to intermediary servers that are part of your application domain and are in your control. It does not include third-party servers such as transport layers or internet providers.

Where multiple services manage your intermediary servers, headers must contain data from all services.


### Originating device

Originating device means the device that initiates an action.

In most connection methods, it is usually the device that is physically in the possession of the person initiating the requests.

<p>In Batch process direct, it might be a vendor’s server.</p>

<p>In Desktop application direct, or Desktop application via server, it might be a hosted desktop environment accessed remotely by the user.</p>
