---
title: Getting it right - Fraud prevention
weight: 50
description: You need to send header data to HMRC when you use our APIs. Check the fraud prevention specification. Check the formatting requirements and how to contact us about missing data.
---
<%= partial 'tracking-consent/partials/google_tag_manager_js' %>

# Getting it right

Version 3.0 issued 6 January 2021 <br/>
<a href="#change-log" onclick="ga('send', 'event', 'On Page Navigation', 'Getting it right', 'Check what has changed');">Check what has changed</a>

## Send data in the correct format

Header data contents must be submitted using the US-ASCII character set, with other characters <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer" onclick="ga('send', 'event', 'On Page Navigation', 'Send data in the correct format', 'Percent encoded 1');"> percent encoded (opens in a new tab)</a>.

Each header has additional formatting requirements. To check a header format, you need to <a href="../connection-method/" onclick="ga('send', 'event', 'On Page Navigation', 'Connection Method', 'Select your connection method');">select your connection method</a>.


### Key-value encoding

Whenever a header contains a key-value data structure, you must use this format:

<code>&lt;key-1&gt;=&lt;value-1&gt;&amp;&lt;key-2&gt;=&lt;value-2&gt;&amp;&hellip;</code>

Whenever a key is applicable but has no applicable value, you can omit the key-value pair or include the key with an empty value.

Keys and values must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer" onclick="ga('send', 'event', 'On Page Navigation', 'Key-value encoding', 'Percent encoded 2');"> percent encoded (opens in a new tab)</a>.

Key-value pairs can be submitted in any order.


### List encoding

Whenever a header contains a list, you must use this format:

<code>&lt;value-1&gt;,&lt;value-2&gt;,&hellip;</code>

Values must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer" onclick="ga('send', 'event', 'On Page Navigation', 'List encoding', 'Percent encoded 3');"> percent encoded (opens in a new tab)</a>.

Values must not be empty.


## How we check data

We monitor API calls from all applications. If data submitted by your application has errors or warnings, we'll email a report with the details. We email reports once a month.

It is important that the right people in your organisation receive the reports. You'll need to check who that is and make sure they are registered on HMRC's Developer Hub.  

To help avoid errors and warnings, <a href="../test-api/#use-the-test-api">use the Test API</a>.

## Missing header data

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You are required by law to submit all header data for your connection method.
  </strong>
</div>

Most organisations are able to send all header data required for their connection method.

In exceptional cases you may be unable to collect a value due to restrictions beyond your reasonable control, such as:

* operating system or platform restrictions
* security measures

For example, an application connecting directly to HMRC might not be able to submit a username for Gov-Client-User-IDs if the <a href="../connection-method/#originating-device" onclick="ga('send', 'event', 'On Page Navigation', 'Missing header data', 'Originating device');">originating device</a> does not have user accounts.

<div class="govuk-inset-text">
If you are unable to submit a header, you must <a href="#contact-us" onclick="ga('send', 'event', 'On Page Navigation', 'Missing header data', 'Contact us');">contact us</a> to explain why. Make sure you include full details of the restrictions.
</div>

In these cases, you can submit a header with an empty value. Do not include any value, for example <code>null</code>, <code>undefined</code> or forward slash.

### Using third-party software and libraries

If you use or plan to use third-party software and libraries, make sure you can still collect header data. Examples include an extension to an Enterprise Resource Planning (ERP) system or a plug-in to a spreadsheet application.


## Contact us

You can send an email to <a href="mailto:SDSTeam@hmrc.gov.uk" onclick="ga('send', 'event', 'On Page Navigation', 'Contact us', 'SDST');">SDSTeam@hmrc.gov.uk</a>.

If you are explaining an exceptional case that means you cannot collect a value, include as many details as you can.

## Change log

### Version 3.0

#### 3 June 2021

What changed:

* Added a link to the Compliance and Sanctions Guidelines

#### 30 April 2021

What changed:

* Clarification on the format for Gov-Client-Public-IP-Timestamp and Gov-Client-Local-IPs-Timestamp

This will be updated in the Directions.

#### 6 January 2021

What changed:

* Gov-Client-Local-IPs-Timestamp is a new header for all connection methods
* Gov-Client-Public-IP-Timestamp is a new header for via server connection methods
* Gov-Vendor-Product-Name is a new header for all connection methods
* Gov-Client-Device-ID must be submitted as a universally unique identifier (UUID)
* Gov-Client-User-Agent must be submitted as a key-value structure
* Clarification that Gov-Client-Multi-Factor accepts seconds and milliseconds
* Clarification on when to collect values for Gov-Client-Local-IPs

To check what you need to send, <a href="../connection-method/" onclick="ga('send', 'event', 'On Page Navigation', 'Change Log', 'Select your connection method');">select your connection method</a>.
