### Gov-Client-Browser-JS-User-Agent

JavaScript-reported user agent string from the <a href="/connection-method/#what-is-your-originating-device">originating device</a>.

Pass the value as reported by the browser, usually in this format:
<code><product> / <product-version> (<system-information>) <platform> (<platform-details>) <extensions></code>

<strong>Example</strong>

<pre><code>Gov-Client-Browser-JS-User-Agent: Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405</code></pre>
