<li>
  <h3 id="gov-client-local-ips">Gov-Client-Local-IPs</h3>

  <p>A list of all local IPv4 and IPv6 addresses available to the <a href="../#originating-device">originating device</a>.</p>

  <ul class="govuk-list govuk-list--bullet">
    <% if locals.has_key?(:connection_method) && locals[:connection_method].end_with?('_VIA_SERVER') %>
    <li>Values must be collected immediately before each request is sent by the client to the backend server</li>
    <% else %>
    <li>Values must be collected immediately before each request is sent to the API</li>
    <% end %>

    <% if locals[:connection_method] == 'WEB_APP_VIA_SERVER' %>
    <li>In some cases, it will be difficult to get these values but your application must try to obtain them</li>

    <li>If you obtain a multicast DNS name instead of an IP address, you must still submit it</li>
    <% end %>

    <li>Every IPv6 value in the list must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer">percent encoded (opens in a new tab)</a>. Do not percent encode separators (commas).</li>

    <% if locals[:connection_method] == 'WEB_APP_VIA_SERVER' %>
    <li>You may be able to use WebRTC to discover local device IPs</li>
    <% end %>
  </ul>

  <p><strong>Examples</strong></p>

  <pre><code>Gov-Client-Local-IPs: fc00%3A%3A,10.1.2.3</code></pre>

  <pre><code>Gov-Client-Local-IPs: 10.1.2.3,10.3.4.2</code></pre>

  <pre><code>Gov-Client-Local-IPs: 65f46603-1f39-4ca5-957f-65e231804f91.local</code></pre>
</li>
