<li>
  <h3 id="gov-vendor-product-name">Gov-Vendor-Product-Name <span><strong class="govuk-tag">New header</strong></span></h3>

  <p>The name of the product marketed to end users.</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>The value must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer">percent encoded (opens in a new tab)</a></li>

    <li>If your application is built for internal use only, submit your company name</li>

    <li>If you're using a white-labelled product, submit your company name</li>
  </ul>

  <p><strong>Examples</strong></p>

  <pre><code>Gov-Vendor-Product-Name: Product%20Name</code></pre>
  <pre><code>Gov-Vendor-Product-Name: Company%20Name</code></pre>
</li>
