<li>
  <h3 id="gov-client-browser-js-user-agent">Gov-Client-Browser-JS-User-Agent</h3>

  <p>JavaScript-reported user agent string from the <a href="../#originating-device">originating device</a>.</p>
  <p>
    Pass the value as reported by the browser, usually in this format:<br>
    <code>&lt;product&gt; &sol; &lt;product-version&gt; &lpar;&lt;system-information&gt;&rpar; &lt;platform&gt; &lpar;&lt;platform-details&gt;&rpar; &lt;extensions&gt;</code>
  </p>

  <p><strong>Example</strong></p>

  <pre><code>Gov-Client-Browser-JS-User-Agent: Mozilla/5.0 (iPad; U; CPU OS 3_2_1 like Mac OS X; en-us) AppleWebKit/531.21.10 (KHTML, like Gecko) Mobile/7B405</code></pre>
</li>
