<li>
  <h3 id="gov-client-browser-do-not-track">Gov-Client-Browser-Do-Not-Track</h3>

  <p>A true or false value describing if the Do Not Track option is enabled on the browser.</p>

  <p>If the user’s browser does not support Do Not Track, submit <code>false</code>.</p>

  <p><strong>Example</strong></p>

  <pre><code>Gov-Client-Browser-Do-Not-Track: true</code></pre>
</li>
