### Gov-Vendor-Product-Name

The name of the product marketed to end users.

* The value must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer">percent encoded (opens in a new tab)</a>

* If your application is built for internal use only, submit your company name

* If you're using a white-labelled product, submit your company name

<strong>Examples</strong>

<pre><code>Gov-Vendor-Product-Name: Product%20Name</code></pre>
<pre><code>Gov-Vendor-Product-Name: Company%20Name</code></pre>
