<li>
  <h3 id="gov-client-timezone">Gov-Client-Timezone</h3>

  <p>The local timezone of the <a href="../#originating-device">originating device</a>. You need to submit a recognised timezone in UTC (Coordinated Universal Time) format, expressed as <code>UTC±&lt;hh>:&lt;mm></code></p>

  <p><strong>Examples</strong></p>

  <pre><code>Gov-Client-Timezone: UTC+00:00</code></pre>

  <pre><code>Gov-Client-Timezone: UTC+01:00</code></pre>

  <pre><code>Gov-Client-Timezone: UTC-01:15</code></pre>
</li>
