<li>
  <h3 id="gov-client-local-ips-timestamp">Gov-Client-Local-IPs-Timestamp <span><strong class="govuk-tag">New header</strong></span></h3>

  <p>A timestamp to show when Gov-Client-Local-IPs is collected.</p>

  <ul class="govuk-list govuk-list--bullet">
    <% if locals.has_key?(:connection_method) && locals[:connection_method].end_with?('_VIA_SERVER') %>
    <li>Collect the timestamp immediately before the client makes the request to the backend server that triggers a request to the API</li>
    <li>The value must not be altered before being sent to the API</li>
    <% else %>
    <li>Collect the timestamp immediately before the client makes the request to the API</li>
    <% end %>
    <li>If the timestamp is not in UTC zero time offset, you'll need to convert it</li>
    <li>Submit a UTC timestamp in the format <code>yyyy-MM-ddThh:mm:ss.sssZ</code> where <code>Z</code> designates zero time offset</li>
    <li>You must include <code>T</code> and use the 24 hour format</li>
    <li>You must include seconds and milliseconds, including trailing zeros</li>
  </ul>

  <p><strong>Example</strong></p>

  <pre><code>Gov-Client-Local-IPs-Timestamp: 2020-09-21T14:30:05.123Z</code></pre>
</li>
