<li>
  <h3 id="gov-client-mac-addresses">Gov-Client-MAC-Addresses</h3>

  <p>The list of MAC addresses available on the <a href="../#originating-device">originating device</a>.</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Every value in the list must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer"> percent encoded (opens in a new tab)</a>. Do not percent encode separators (commas).</li>
  </ul>

  <p><strong>Example</strong></p>

  <pre><code>Gov-Client-MAC-Addresses: ea%3A43%3A1a%3A5d%3A21%3A45,10%3A12%3Acc%3Afa%3Aaa%3A32</code></pre>
</li>
