<li>
  <h3 id="gov-client-connection-method">Gov-Client-Connection-Method</h3>

  <p>For your connection method, submit this header and value with all requests:</p>

  <pre><code>Gov-Client-Connection-Method: <%= locals[:connection_method] %></code></pre>
</li>
