<li>
  <h3 id="gov-client-browser-plugins">Gov-Client-Browser-Plugins</h3>

  <p>A list of browser plugins on the <a href="../#originating-device">originating device</a>.</p>

  <p>Every value in the list must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer">percent encoded (opens in a new tab)</a>. Do not percent encode separators (commas).</p>

  <p><strong>Example</strong></p>

  <pre><code>Gov-Client-Browser-Plugins: Shockwave%20Flash,Chromium%20PDF%20Viewer</code></pre>
</li>
