### Gov-Client-Multi-Factor

A list of key-value data structures containing details of the multi-factor authentication (MFA) statuses related to the API call.

* This relates to users accessing your software, not users granting authority for your software to access their data

* If you authenticate with username and password only, you will not be able to collect a value. You need to <a href="../../getting-it-right/#missing-header-data">check what to do about missing data</a>.

* Every key and value must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer">percent encoded (opens in a new tab)</a>. Do not percent encode the separators (equal signs, ampersands and commas).

<strong>Fields for each key-value data structure</strong>

<code>type</code> is a tag describing the MFA method being used. The possible values are:

* <code>TOTP</code> the MFA was performed by accepting a time-based one-time password code

* <code>AUTH_CODE</code> the MFA was performed by sending an authorisation code to the user in some out-of-band channel, for example, by email or by SMS

* <code>OTHER</code> a different MFA method was used than the available values

<code>timestamp</code> is a UTC timestamp in the format yyyy-MM-ddThh:mmZ recording the time of the last successful prompt for this factor

<code>unique-reference</code> identifies a single factor. For example, a salted-and-hashed phone number used for SMS, or an identifier linked to a TOTP secret, but not the secret itself. Use the same hashing function consistently so that this can be recognised across API calls.

<strong>Example</strong>
<pre><code>Gov-Client-Multi-Factor:type=AUTH_CODE&timestamp=2017-04-21T13%3A23Z&unique-reference=c672b8d1ef56ed28,type=TOTP&timestamp=2017-05-19T13%3A10Z&unique-reference=ac73430ffdfd9</code></pre>
