### Gov-Client-Public-IPs

The public IPv4 or IPv6 address from which the originating device makes the request.

If the connection between client and server is over a private network, you will not be able to collect a value. You need to <a href="">check what to do about missing data</a>.<br>

 <strong>Examples</strong>

<pre><code>Gov-Client-Public-IP: 198.51.100.0</code></pre>

<pre><code>Gov-Client-Public-IP: ABCD:EF01:2345:6789:ABCD:EF01:2345:6789</code></pre>
