### Gov-Client-Public-Port


The public TCP port used by the <a href="../#originating-device">originating device</a> when initiating the request.

* This must not be a server port, for example 80 for http connections and 443 for https connections

* The valid range is between 0 and 65535

* If the connection between client and server is over a private network, you will not be able to collect a value. You need to <a href="../../getting-it-right/#missing-header-data">check what to do about missing data</a>.

<strong>Example</strong>

<pre><code>Gov-Client-Public-Port: 12345</code></pre>
