### Gov-Client-Timezone

The local timezone of the <a href="../#originating-device">originating device</a>, expressed as UTC±<hh>:<mm>

<strong>Examples</strong>

<pre><code>Gov-Client-Timezone: UTC+00:00</code></pre>

<pre><code>Gov-Client-Timezone: UTC+01:00</code></pre>

<pre><code>Gov-Client-Timezone: UTC-01:15</code></pre>
