### Gov-Client-User-Agent

Identifies the operating system family, operating system version, device manufacturer and model of the <a href="../#originating-device">originating device</a>.

* Use this format: <br>
<code>OS Family/OS Version (Device Manufacturer/Device Model)</code>

* OS Family, OS Version, Device Manufacturer and Device Model must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer">percent encoded (opens in a new tab)</a>. Do not percent encode separators (forward slashes, spaces, opening and closing brackets).

<% if locals[:connection_method] == 'MOBILE_APP_DIRECT' %>
<strong>Example</strong>

<pre><code>gov-client-user-agent: iOS/13.3.1 (Apple/iPhone12%2C3)</code></pre>
<% end %>

<% if locals[:connection_method] == 'DESKTOP_APP_DIRECT' %>
<strong>Examples</strong>

<pre><code>Gov-Client-User-Agent: Windows/Server%202012 (Dell%20Inc./OptiPlex%20980)</code></pre>

<pre><code>Gov-Client-User-Agent: Windows/XP Windows/NT (Dell/XPS15 Dell/XPS13)</code></pre>
<% end %>

<% if locals[:connection_method] == 'MOBILE_APP_VIA_SERVER' %>
<strong>Example</strong>

<pre><code>gov-client-user-agent: iOS/13.3.1 (Apple/iPhone12%2C3)</code></pre>
<% end %>

<% if locals[:connection_method] == 'DESKTOP_APP_VIA_SERVER' %>
<strong>Examples</strong>

<pre><code>Gov-Client-User-Agent: Windows/Server%202012 (Dell%20Inc./OptiPlex%20980)</code></pre>

<pre><code>Gov-Client-User-Agent: Windows/XP Windows/NT (Dell/XPS15 Dell/XPS13)</code></pre>
<% end %>

<% if locals[:connection_method] == 'WEB_APP_VIA_SERVER' %>
<strong>Examples</strong>

<pre><code>Gov-Client-User-Agent: Windows/Server%202012 (Dell%20Inc./OptiPlex%20980)</code></pre>

<pre><code>Gov-Client-User-Agent: Windows/XP Windows/NT (Dell/XPS15 Dell/XPS13)</code></pre>
<% end %>

<% if locals[:connection_method] == 'BATCH_PROCESS_DIRECT' %>
<strong>Examples</strong>

<pre><code>Gov-Client-User-Agent: Windows/Server%202012 (Dell%20Inc./OptiPlex%20980)</code></pre>

<pre><code>Gov-Client-User-Agent: Windows/XP Windows/NT (Dell/XPS15 Dell/XPS13)</code></pre>
<% end %>

<% if locals[:connection_method] == 'OTHER_DIRECT' %>
<strong>Examples</strong>

<pre><code>Gov-Client-User-Agent: Windows/Server%202012 (Dell%20Inc./OptiPlex%20980)</code></pre>

<pre><code>Gov-Client-User-Agent: Windows/XP Windows/NT (Dell/XPS15 Dell/XPS13)</code></pre>
<% end %>

<% if locals[:connection_method] == 'OTHER_VIA_SERVER' %>
<strong>Examples</strong>

<pre><code>Gov-Client-User-Agent: Windows/Server%202012 (Dell%20Inc./OptiPlex%20980)</code></pre>

<pre><code>Gov-Client-User-Agent: Windows/XP Windows/NT (Dell/XPS15 Dell/XPS13)</code></pre>
<% end %>
