### Gov-Client-User-Agent

Identifies the operating system family, operating system version, device manufacturer and model of the <a href="/connection-method/#what-is-your-originating-device">originating device</a>.

* Use this format: <br>
OS Family/OS Version (Device Manufacturer/Device Model)

* OS Family, OS Version, Device Manufacturer and Device Model must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1">percent encoded (opens in a new tab)</a>. Do not percent encode separators (forward slashes, spaces, opening and closing brackets).

<strong>Examples</strong>

<pre><code>Gov-Client-User-Agent: Windows/Server%202012 (Dell%20Inc./OptiPlex%20980)</code></pre>

<pre><code>Gov-Client-User-Agent: Windows/XP Windows/NT (Dell/XPS15 Dell/XPS13)</code></pre>
