### Gov-Vendor-Version

A key-value data structure of versions of your software involved in handling a request.

* Use this format: <br>
 <code>&lt;software-name&gt;=&lt;version-number&gt;&&lt;software-name-2&gt;=&lt;version-number-2&gt;& …</code>

* Every key and value must be <a href="https://tools.ietf.org/html/rfc3986#section-2.1" target="_blank" rel="noopener noreferrer">percent encoded (opens in a new tab)</a>. Do not percent encode separators (equal signs and ampersands).

<% if locals[:connection_method] == 'DESKTOP_APP_DIRECT' or
  locals[:connection_method] == 'BATCH_PROCESS_DIRECT' or
  locals[:connection_method] == 'MOBILE_APP_DIRECT' or
  locals[:connection_method] == 'OTHER_DIRECT' or  %>

<strong>Example</strong>

<pre><code>Gov-Vendor-Version: my-application=1.6.0</code></pre>
<% end %>

<% if locals[:connection_method] == 'MOBILE_APP_VIA_SERVER' or
  locals[:connection_method] == 'DESKTOP_APP_VIA_SERVER' or
  locals[:connection_method] == 'WEB_APP_VIA_SERVER' or
  locals[:connection_method] == 'OTHER_VIA_SERVER'  %>

<strong>Example</strong>

<pre><code>Gov-Vendor-Version: my-frontend-app=2.2.2&my-serverside-code=v3.8</code></pre>
<% end %>
