### Gov-Client-Window-Size

The number of pixels of the window on the <a href="../#originating-device">originating device</a>.

This should be displayed as a key-value data structure with <code>width</code> and <code>height</code> fields.

<% if locals[:connection_method] == 'MOBILE_APP_DIRECT' %>
<strong>Example</strong>

<pre><code>gov-client-window-size: width=375&height=812</code></pre>
<% end %>

<% if locals[:connection_method] == 'DESKTOP_APP_DIRECT' %>
<strong>Example</strong>

<pre><code>Gov-Client-Window-Size: width=1256&height=803</code></pre>
<% end %>

<% if locals[:connection_method] == 'MOBILE_APP_VIA_SERVER' %>
<strong>Example</strong>

<pre><code>gov-client-window-size: width=375&height=812</code></pre>
<% end %>

<% if locals[:connection_method] == 'DESKTOP_APP_VIA_SERVER' %>
<strong>Example</strong>

<pre><code>Gov-Client-Window-Size: width=1256&height=803</code></pre>
<% end %>

<% if locals[:connection_method] == 'WEB_APP_VIA_SERVER' %>
<strong>Example</strong>

<pre><code>Gov-Client-Window-Size: width=1256&height=803</code></pre>
<% end %>

<% if locals[:connection_method] == 'BATCH_PROCESS_DIRECT' %>
<strong>Example</strong>

<pre><code>Gov-Client-Window-Size: width=1256&height=803</code></pre>
<% end %>

<% if locals[:connection_method] == 'OTHER_DIRECT' %>
<strong>Example</strong>

<pre><code>Gov-Client-Window-Size: width=1256&height=803</code></pre>
<% end %>

<% if locals[:connection_method] == 'OTHER_VIA_SERVER' %>
<strong>Example</strong>

<pre><code>Gov-Client-Window-Size: width=1256&height=803</code></pre>
<% end %>
