### Gov-Client-Window-Size

The number of pixels of the window on the <a href="">originating device</a>.

This should be displayed as a key-value data structure with <code>width</code> and <code>height</code> fields.

<strong>Example</strong>

<pre><code>Gov-Client-Window-Size: width=1256&height=803</pre></code>
