---
title: Change log - Fraud prevention
weight: 60
description: Find out what has changed in the specification and make sure your application still meets the requirements.
---
<%= partial 'tracking-consent/partials/google_tag_manager_js' %>

# Change log

### Version 3.2

#### 1 August 2023

 * For the mobile application via server and mobile application direct connection methods, you do not need to provide a
   value for `os` in Gov-Client-User-IDs. If your application submits values for `os` it is not an issue.
 * For the mobile application via server and mobile application direct connection methods, you do not need to submit
   values for Gov-Client-MAC-Addresses. If your application submits values for this header it is not an issue.
 * For the web application via server connection method, you do not need to submit a value for
   Gov-Client-Browser-Do-Not-Track. If your application submits values for this header it is not an issue.
 * Clarification that Gov-Vendor-Forwarded must contain values from Gov-Vendor-Public-IP and Gov-Client-Public-IP
 * Clarification on how many key-value pairs to include in Gov-Vendor-Version

This will be updated in the Directions. To check what you need to send, <a href="../connection-method/">select your connection method</a>.

### Version 3.1

#### 4 April 2022

 * Clarification on format for Gov-Client-Timezone

This will be updated in the Directions. To check what you need to send, <a href="../connection-method/">select your connection method</a>.

#### 31 January 2022

 * For the web application via server connection method, you do not need to submit values for Gov-Client-Browser-Plugins, Gov-Client-Local-IPs or Gov-Client-Local-IPs-Timestamp. If your application submits values for these headers it is not an issue.
 * For all connection methods other than web application via server, you still need to submit values for Gov-Client-Local-IPs and Gov-Client-Local-IPs-Timestamp

This will be updated in the Directions. To check what you need to send, <a href="../connection-method/">select your connection method</a>.

### Version 3.0

#### 12 July 2021

* Clarification on fields for Gov-Client-User IDs

This will be updated in the Directions. To check what you need to send, <a href="../connection-method/">select your connection method</a>.

#### 3 June 2021

* Added a link to the Compliance and Sanctions Guidelines

#### 30 April 2021

* Clarification on the format for Gov-Client-Public-IP-Timestamp and Gov-Client-Local-IPs-Timestamp

This will be updated in the Directions. To check what you need to send, <a href="../connection-method/">select your connection method</a>.

#### 6 January 2021

* Gov-Client-Local-IPs-Timestamp is a new header for all connection methods
* Gov-Client-Public-IP-Timestamp is a new header for via server connection methods
* Gov-Vendor-Product-Name is a new header for all connection methods
* Gov-Client-Device-ID must be submitted as a universally unique identifier (UUID)
* Gov-Client-User-Agent must be submitted as a key-value structure
* Clarification that Gov-Client-Multi-Factor accepts seconds and milliseconds
* Clarification on when to collect values for Gov-Client-Local-IPs

The <a href="https://www.gov.uk/government/publications/direction-under-regulation-22-of-the-delivery-of-tax-information-through-software-ancillary-metadata-regulations-2019-si-2019360">Directions</a> were updated 6 January 2021.