---
title: Send fraud prevention data
weight: 10
description: You need to send header data to HMRC when you use our APIs. Check the fraud prevention specification. Find out what you need to send and how.
---

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSFTCWZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

# Send fraud prevention data

Version 3.0 issued 6 January 2021 <br/>
<a href="getting-it-right/#change-log" onclick="ga('send', 'event', 'On Page Navigation', 'Send fraud prevention data', 'Check what has changed');">Check what has changed</a>

## Why you must send data

We monitor transactions to help protect your customers’ confidential data from criminals and fraudsters. To make this possible, you must send us specific types of user audit data.

When you use some of our APIs, you have to submit HTTP fraud prevention headers. We use the data to support prosecutions for tax and duty fraud.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You are required by law to submit header data for the
    <a href="/api-documentation/docs/api/service/vat-api/1.0" onclick="ga('send', 'event', 'On Page Navigation', 'Why you must send data', 'VAT (MTD) API');">VAT (MTD)</a> and
    <a href="/guides/income-tax-mtd-end-to-end-service-guide/" onclick="ga('send', 'event', 'On Page Navigation', 'Why you must send data', 'ITSA (MTD) API');">Income Tax Self Assessment (MTD)</a> APIs.
    This includes all associated APIs and endpoints.
  </strong>
</div>

Soon, you'll need to send header data for all of our APIs. We recommend designing this into your applications now.


### Privacy and security

HMRC has the right to collect audit data. We follow best practices set out by the Information Commissioner’s Office.

Transaction monitoring is a key security approach used in the UK and globally. Our approach follows the National Cyber Security Centre (NCSC) and the Cabinet Office’s <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/271268/GPG_53_Transaction_Monitoring_issue_1-1_April_2013.pdf" onclick="ga('send', 'event', 'On Page Navigation', 'Privacy and security', 'Recommended guidance');">recommended guidance</a>.

For more information or to review your privacy notices, <a href="https://developer.qa.tax.service.gov.uk/api-documentation/assets/content/documentation/3f4c263faa8231bea05c1826b7f6b81c-TxM%20DPIA%20v3%201%20Public.pdf" onclick="ga('send', 'event', 'On Page Navigation', 'Privacy and security', 'Data protection impact assessment');">check the data protection impact assessment</a>. You can also <a href="http://www.legislation.gov.uk/uksi/2019/360/made" onclick="ga('send', 'event', 'On Page Navigation', 'Privacy and security', 'Check the regulations');">check the regulations</a>.
