---
title: Send fraud prevention data
weight: 10
description: When you use some HMRC APIs, you’re legally required to submit data to help prevent fraud. Check which APIs and what you need to send.
---
<%= partial 'tracking-consent/partials/google_tag_manager_js' %>

# Send fraud prevention data

Version 3.2 issued 1 August 2023 <br/>
<a href="change-log/">Check what has changed</a>

## Why you must send data

We monitor transactions to help protect your customers’ confidential data from criminals and fraudsters. To make this possible, you must send us specific types of user audit data.

When you use some of our APIs, you have to submit HTTP fraud prevention headers. We use the data to support prosecutions for tax and duty fraud.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You are required by law to submit header data for the
    <a href="/api-documentation/docs/api/service/vat-api/1.0">VAT (MTD)</a> and
    <a href="/guides/income-tax-mtd-end-to-end-service-guide/">Income Tax Self Assessment (MTD)</a> APIs.
    This includes all associated APIs and endpoints.
  </strong>
</div>

We work with you to help meet this specification. If after discussions with
HMRC an application continues to submit incorrect or missing data, software
providers may be fined and blocked from using HMRC APIs.
Check the <a href="Fraud%20Prevention%20Header%20Data%20Compliance%20and%20Sanctions%20Guidelines.pdf">Compliance and Sanctions Guidelines (PDF)</a>.


### Privacy and security

HMRC has the right to collect audit data. We follow best practices set out by the Information Commissioner’s Office.

Transaction monitoring is a key security approach used in the UK and globally. Our approach follows the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/271268/GPG_53_Transaction_Monitoring_issue_1-1_April_2013.pdf">National Cyber Security Centre (NCSC) and the Cabinet Office’s recommended guidance (PDF)</a>.

For more information or to review your privacy notices, <a href="/api-documentation/assets/content/documentation/3f4c263faa8231bea05c1826b7f6b81c-TxM%20DPIA%20v3%201%20Public.pdf">check the data protection impact assessment (PDF)</a>. You can also <a href="http://www.legislation.gov.uk/uksi/2019/360/made">check the regulations</a>.
